* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(72, 59, 57);
    font-family: sans-serif;
    font-size: 16px;
}

:root {
    --REMF: 1.75rem;



}

h3 {
    font-size: var(--REMF);
    margin-left: 2.5rem;
    margin-top: var(--REMF);
}

#percentage-container {
    margin-bottom: 5px;
    text-align: center;
}

.range {
    margin-top: 5px;
    text-align: center;
}

.main-container {
    background: rgba(74, 63, 62, 1);
    height: 40vh;
    width: 60vh;
    box-shadow: -11px 10px 31px -6px rgba(0, 0, 0, 0.36);

}




.stats-container {
    margin: 0;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.stats-bar {
    background-color: rgb(217, 98, 77);
    height: 15vh;
    width: 4vw;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.stats-bar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #3d3131;
    animation: animate 0.8s ease-in-out forwards;
}

@keyframes animate {
    0% {
        bottom: 0;
    }

    100% {
        bottom: var(--percentage);
    }
}

@media(max-width: 1500px) {

    body {
        font-size: 15px;
    }

    h3 {
        margin-left: 2.5rem;
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }

    #percentage-container {
        margin-bottom: 5px;
        text-align: center;
    }

    .range {
        margin-top: 5px;
        text-align: center;
    }

    .main-container {
        width: 55vw;
    }

    .stats-bar {
        height: 20vh;
        width: 7vw;
    }

    .stats-container {
        gap: 2rem;
    }
}


@media(max-width: 900px) {

    body {
        font-size: 15px;
    }

    h3 {
        margin-left: 2.5rem;
        margin-top: 1.55rem;
        font-size: 1.25rem;
    }

    #percentage-container {

        margin-bottom: 4px;
        text-align: center;
    }

    .range {
        margin-top: 5px;
        text-align: center;
    }

    .main-container {
        width: 90vw
    }

    .stats-container {
        gap: 1rem;
    }


    .stats-bar {
        height: 20vh;
        width: 11vw;
    }
}

@media (max-width:375px) {


    body {
        font-size: 12px;
    }

    h3 {
        margin-left: 1.15rem;
        margin-top: 1.5rem;
        font-size: 1.05rem;
    }

    #percentage-container {
        margin-bottom: 4px;
        text-align: center;
    }

    .range {
        margin-top: 5px;
        text-align: center;
    }

    .main-container {
        width: 95vw
    }

    .stats-container {
        gap: 1rem;
    }

    .stats-bar {
        height: 15vh;
        width: 12.5vw;
    }
}